<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="domandaCard(r, d, index)">

    <h3>Domanda <span th:text="${index + 1}"></span></h3>
    <h4>
        <span th:if="${r.corretta == true}">🧮 <span th:text="${d.punteggio}"></span> punti</span>
        <span th:if="${r.corretta != true}">🧮 0 punti</span>
    </h4>

    <p th:text="${d.testo}">Testo Domanda</p>
    <div class="card-meta">
        <span>📝 Risposta data: <span th:text="${r.testo}"></span></span>
        <span th:if="${r.corretta == true}">✅ Risposta Corretta</span>
        <span th:if="${r.corretta != true}">❌ Risposta Errata</span>
    </div>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</section>
</html>
