<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Fragment per i campi comuni del form profilo -->
<div th:fragment="formRisposta(risposta)" class="form-fields-comuni">

    <div class="form-group">
        <label for="rispostaID">ID Risposta</label>
        <input type="number" id="rispostaID" name="rispostaID"
               th:value="${questionario.ID}" disabled class="input-disabled">
        <small class="form-hint">L'ID della risposta non può essere modificata</small>
    </div>

    <div class="form-group">
        <label for="testo">Testo</label>
        <input type="text" id="testo" name="testo" required
               th:value="${questionario.descrizione}" placeholder="Testo della domanda">
    </div>

    <div class="form-group">
        <label for="corretta">Corretta</label>
        <input type="checkbox" id="corretta" name="corretta" th:checked="${risposta.corretta}" value="true">
    </div>

</div>
</html>
