<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<section th:fragment="rispostaCard(r, index)">

    <h4>Risposta <span th:text="${index}"></span></h4>
    <p th:text="${r.testo}">Testo Risposta</p>
    <div class="card-meta">
        <div th:if="${r.corretta == true}" class="empty-state">
            <p>✅ Risposta Corretta</p>
        </div>
        <div th:if="${r.corretta == false}" class="empty-state">
            <p>❌ Risposta Errata</p>
        </div>
    </div>
    <div class="card-actions">
        <a th:href="@{/docente/questionari/{id}/modifica(id=${questionario.ID})}" class="btn btn-sm btn-secondary">Modifica</a>
    </div>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</section>
</html>
