<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head('EduQuest - Riepilogo')}"></head>
<body>
<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<main class="container">
    <div class="questionario">
        <header class="questionario-header">
            <div th:if='${questionario.getClass().toString() == "class dev.eduteam.eduquest.models.questionari.Questionario"}'>
                <h1>Questionario "<span th:text="${questionario.nome}"></span>"</h1>
            </div>

            <div th:if='${questionario.getClass().toString() == "class dev.eduteam.eduquest.models.questionari.Esercitazione"}'>
                <h1>Esercitazione "<span th:text="${questionario.nome}"></span>"</h1>
            </div>

            <div th:if='${questionario.getClass().toString() == "class dev.eduteam.eduquest.models.questionari.Compitino"}'>
                <h1>Compitino "<span th:text="${questionario.nome}"></span>"</h1>
            </div>
        </header>

        <!-- <section th:replace="~{fragments/profile-card :: profileCard(${user}, true)}"></section> -->

        <section class="dashboard-section">
            <div class="section-header">
                <h3>
                    📝 <span th:text="${questionario.descrizione}"></span>
                </h3>

            </div>

            <div class="section-header">
                <h4>
                    <span>💯 <span th:text="${compilazione.getPunteggio()}"></span> / <span th:text="${questionario.getPunteggioMax()}"></span></span>
                    <span>🧿 Edupoints guadagnati: <span th:text="${eduPoints}"></span></span>
                    <span>📅 <span th:text="${questionario.dataCreazione}"></span></span>
                    <span>📒 Materia: <span th:text="${questionario.materia}"></span></span>
                    <span>🚩 Difficoltà: <span th:text="${questionario.getLivelloDifficulty()}"></span></span>
                </h4>

            </div>
            <div class="section-header">

                <div th:if='${questionario.getClass().toString() == "class dev.eduteam.eduquest.models.questionari.Esercitazione"}'>
                    <h4>
                        ✒️ Note Didattiche
                        <span th:text="${questionario.noteDidattiche}"></span>
                    </h4>
                </div>

                <div th:if='${questionario.getClass().toString() == "class dev.eduteam.eduquest.models.questionari.Compitino"}'>
                    <h4>
                        <span>📅 Data fine: <span th:text="${questionario.dataFine}"></span></span>
                        <span>🔢 Tentativi: <span th:text="${questionario.tentativiMax}"></span></span>
                    </h4>
                </div>

            </div>

            <div th:if="${questionario == null}" class="empty-state">
                <p>Questionario non trovato</p>
            </div>

            <div th:if="${questionario != null}" class="questionari-list">
                <div th:each="d : ${domande}" class="questionario-card">
                    <section th:replace="~{fragments/domanda-riepilogo :: domandaCard(${risposte[domande.indexOf(d)]}, ${d}, ${domande.indexOf(d)})}"></section>
                </div>
            </div>

            <div>
                <a th:href="@{/studente/dashboard}" class="btn btn-secondary">Ritorna alla Dashboard</a>
            </div>
        </section>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
